<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Helloooo world</title>
</head>
<body>
    <header class="text-gray-600 body-font">
      <div class="container px-10 py-20 mx-auto">
        <div class="flex flex-col text-center mb-12">
          <p class="sm:text-3xl font-medium title-font mb-4 text-gray-900">PDF MERGER</p>
          </div>
          </a>
        </div>
    </header>
      <form method="post" action="/merge" enctype="multipart/form-data" class="flex items-center space-x-6 my-3">
        <div class="container px-5 py-17 mx-auto">
        <div class="flex flex-col items-center mb-2">
        <label class="block">
          <input type="file" name="pdf" multiple accept=".pdf" class="block w-full text-sm text-slate-500
            file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-sm file:font-semibold
            file:bg-grey-50 file:text-black-700
            hover:file:bg-violet-100
          "/>
        </label>
          </div>
          <div class="container px-1 py-1 mx-auto">
            <div class="flex flex-col items-center mb-7">
          <input type="submit" value="submit" <button="" class="lg:mt-2 xl:mt-3 flex-col inline-flex text-black bg-red-50 border-0 py-2 px-8 focus:outline-none hover:bg-blue-200 rounded"></button>
              </div>
              </div>
        </label>
        </div>
      </form>
      </body>
</body>
</html>